body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #fafafa;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.food-list {
  list-style-type: square;
  font-size: 20px;
}

.food-list > li {
  margin-bottom: 15px;
  font-weight: bold;
}

.ingredients {
  list-style-type: circle;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
}
