/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Common Box */
.box {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

/* 1 */
.color {
    color: red;
}

/* 2 */
.bg {
    background-color: lightgreen;
}

/* 3 */
.fontsize {
    font-size: 24px;
}

/* 4 */
.fontfamily {
    font-family: "Courier New";
}

/* 5 */
.textalign {
    text-align: center;
}

/* 6 */
.margin {
    margin: 30px;
}

/* 7 */
.padding {
    padding: 30px;
}

/* 8 */
.border {
    border: 3px solid black;
}

/* 9 */
.width {
    width: 200px;
}

/* 10 */
.height {
    height: 80px;
}

/* 11 */
.display {
    display: block;
}

/* 12 */
.justify {
    display: flex;
    justify-content: center;
}

/* 13 */
.align {
    display: flex;
    align-items: center;
    height: 60px;
}

/* 14 */
.radius {
    border-radius: 15px;
}

/* 15 */
.shadow {
    box-shadow: 3px 3px 8px gray;
}

/* 16 */
.decoration {
    text-decoration: underline;
}

/* 17 */
.list ul {
    list-style: none;
    padding: 0;
}

/* 18 */
.position {
    position: relative;
    left: 20px;
}

/* 19 */
.cursor {
    cursor: pointer;
}

/* 20 */
.overflow {
    width: 150px;
    height: 40px;
    overflow: hidden;
}
